#editor {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -0.6em;
    margin-bottom: 10px;
}

.standard-dialog details {
    font-size: 12px;
}

.standard-dialog .modal-contents {
    max-height: 60vh;
    overflow-y: scroll;
    padding: 1rem;
}

.buildOutput {
    height: 260px;
    width: 50%;
    background-color: black;
    color: white;
    font-size: 12px;
    overflow-y: auto;
}

textarea {
    flex-grow: inherit;
    height: 250px;
    resize: none;
    width: 50%;
    font-family: Chicago_12;
    border-radius: 0px;
    border-style: dotted;
}

pre {
    font-family: Chicago_12;
    font-size: 18px;
}
