.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000 !important;
}


.modal-overlay .standard-dialog {
    width: 20rem;
    max-width: calc(100% - 2rem);
    max-height: 80%;
    z-index: 10001;
    overflow-y: hidden;
}