html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
}

a {
  margin-right: 1rem;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

.content-wrapper {
  position: absolute;
  top: 15rem;
  left: 50%;
  height: 100vh;

  transform: translateX(-50%);
  z-index: 0;
}

.hlx-header {
  position: fixed;
  left: 0px;
  z-index: 1;
  width: 100vw;
  background: linear-gradient(90deg,#fff 21px,transparent 1%) 50%,linear-gradient(#fff 21px,transparent 1%) 50%,#000;
  background-attachment: fixed;
  background-size: 22px 22px;
  border: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;

}

.hlx-title-text {
  font-size: 48px;
  padding-left: 1em;
  margin-bottom: 0px;
  font-family: FindersKeepers;
}

.hlx-desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  padding-left: 3em;
  font-family: FindersKeepers;
  background-color: black;
  color: white;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 91vw;
}

.hlx-title {
  display: flex; 
  align-items: center; 
  gap: 0.5rem;
}

#main-window {
  position: relative;
  height: auto;
  width: 50vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#ref-window {
  position: relative;
  height: auto;
  width: 50vw;
  left: 50%;
  transform: translateX(-50%);
  
}

#editor-window-pane {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: unset !important;
  border-radius: unset !important;
}

::-webkit-scrollbar-track {
  background-color: unset !important;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
