html, body {
  overflow-x: hidden;

}

body {
  display: flex;
  justify-content: center;
}

a {
  margin-right: 1rem;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

.hlx-header {
  font-size: 48px;
  padding-left: 1em;
  margin-bottom: 0px;
  font-family: FindersKeepers;
}

.hlx-desc {
  margin-top: 0;
  font-size: 16px;
  padding-left: 3em;
  padding-bottom: 3em;
  font-family: FindersKeepers;
}

.hlx-title {
  display: flex; 
  align-items: center; 
  gap: 0.5rem;
}

#main-window {
  position: relative;
  height: auto;
  width: 50vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#ref-window {
  position: relative;
  height: auto;
  width: 50vw;
  left: 50%;
  transform: translateX(-50%);
}

#editor-window-pane {
  overflow-y: hidden;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
